<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgzBdI_XiBVHkzhahd1l1GGB3IUO_kxiM</string>
	<key>GCM_SENDER_ID</key>
	<string>254683931276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userApp</string>
	<key>PROJECT_ID</key>
	<string>multiple-app-5f02e</string>
	<key>STORAGE_BUCKET</key>
	<string>multiple-app-5f02e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254683931276:ios:e86d40c6cd62a0318f11a9</string>
</dict>
</plist>